.view-container {
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  width: inherit;
  overflow-y: scroll;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ant-card {
  width: inherit;
}

.ant-modal {
  text-align: center;
}

.ant-modal p {
  padding-top: 8px;
  color: grey;
}

.modal-plot {
  padding-top: 12px;
}